<div class="game_detail">
  <div class="detail_date">&nbsp;</div>
  <div class="detail_headline">
    <div class="result_type">final</div>
  </div>
  <div class="detail">
    <div class="detail_home">&nbsp;</div>
    <div class="detail_score">&nbsp;</div>
    <div class="detail_away">&nbsp;</div>
  </div>
</div>
