{:up ["CREATE TABLE player_takeaways (
        game_id varchar(20) NOT NULL,
        team_id INTEGER NOT NULL,
        play_id INTEGER NOT NULL,
        player_id INTEGER NOT NULL,
        period varchar(20) NOT NULL,
        play_time TIME NOT NULL, 
        strength varchar(20) NOT NULL,
        zone varchar(15) NOT NULL);"]
 :down ["DROP TABLE player_takeaways;"]
}
