{:up ["ALTER TABLE conferences ADD COLUMN start_season INTEGER DEFAULT NULL,
                         ADD COLUMN stop_season INTEGER DEFAULT NULL;"]
 :down ["ALTER TABLE conferences DROP COLUMN start_season, DROP COLUMN stop_season;"]
}
